body {
	font-family: 'Lato', sans-serif;
}

.super_title {
	font-size: 60px;
	font-weight: 100;
}

.sub_title {
	font-weight: 600;
}

.img-container {
	max-height: 300px;
	overflow: hidden;
}

.featured-image {
}
